# MT5 Configuration
MT5_USERNAME=123
MT5_PASSWORD=secret_password
MT5_SERVER=server_from_broker
MT5_PATHWAY=C:/Example/path/file.exe

# Trading Strategy Settings
MT5_SYMBOLS=USDJPY.a
MT5_TIMEFRAME=M30
