# MT5 Configuration
MT5_USERNAME=123
MT5_PASSWORD=secret_password
MT5_SERVER=server_from_broker

# Symbol Configuration
MT5_SYMBOLS=USDJPY
MT5_TIMEFRAME=M30

# Strategy Configuration
STRATEGY=ema_cross
EMA_PERIOD_ONE=50
EMA_PERIOD_TWO=200
NUMBER_OF_CANDLES=2000
